<button
  class="sapperCell"
  [ngClass]="{
    'sapperCell--active': cell.isOpen && cell.value !== bombNumber,
    'sapperCell--fail': cell.isOpen && cell.value === bombNumber,
    'sapperCell--flag': !cell.isOpen && cell.isFlag,
    'sapperCell--press': !cell.isOpen && !cell.isFlag && cell.isPress
  }"
  (mouseup)="onMouseUp($event)"
  (mousedown)="cell.isOpen && cell.value > 0 && onPressNearby($event)"
  (contextmenu)="rightClick($event)"
  [disabled]="isOver"
>
  {{ cell.isOpen && cell.value && cell.value !== bombNumber ? cell.value : "" }}
</button>
