.sapperCell
  width: 40px
  height: 40px
  background-color: #000
  border: 1px solid #64f2ff
  cursor: pointer
  color: #000
  transition: 0.1s
  padding: 0
  &--active
    background-color: #ffffff
  &--fail
    background-color: #ff0000
  &--flag
    background-color: #0400ff
  &--press
    background-color: #7573d1
