<button
  class="cell"
  [ngClass]="{
    'cell--active': cell.isOpen && cell.value !== bombNumber,
    'cell--fail': cell.isOpen && cell.value === bombNumber,
    'cell--flag': !cell.isOpen && cell.isFlag,
    'cell--press': !cell.isOpen && !cell.isFlag && cell.isPress
  }"
  (mouseup)="onMouseUp($event)"
  (mousedown)="cell.isOpen && cell.value > 0 && onPressNearby($event)"
  (contextmenu)="rightClick($event)"
  [disabled]="isOver"
>
  {{ cell.isOpen && cell.value && cell.value !== bombNumber ? cell.value : "" }}
</button>
