<div class="table">
  <div>
    <div class="header">
      <span class="counts">{{ countBombs }}</span>
      <span class="counts">{{
        score < 100 ? ("00" + score).slice(-3) : score
      }}</span>
    </div>
    <div *ngFor="let row of cellMap; let numberRow = index" class="row">
      <cell
        *ngFor="let cell of row; let numberCell = index"
        [cell]="cell"
        [isOver]="isOver"
        [isWin]="isWin"
        (onCellClick)="onCellClick($event)"
        (setFlag)="setFlag($event)"
        (changeOpenCell)="changeOpenCell($event)"
        (onPressNearbyCells)="onPressNearbyCells($event)"
      ></cell>
    </div>
    <div class="buttonWrapper">
      <app-button (onClick)="startGame()">Обновить</app-button>
    </div>
  </div>
  <modal [title]="isWin ? 'Вы выйграли' : 'Вы проиграли'" [isOpen]="isOver">
    <span class="score">Счет: </span>
    <span class="score">{{ score }}</span>
  </modal>
</div>
